<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>COKURU COWORKING SPACES</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
   <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js' %>
</head>
<body>
  <div class="header">
    <div class="header-content">
      <nav class="nav-links">
        <% if user_signed_in? %>
          <span class="welcome-message">Welcome! <%= current_user.name %></span>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
          <%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %>
        <% end %>
      </nav>
    </div>
  </div>

  <div class="full-screen-image">
    <div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">COKURU COWORKING SPACES</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Your perfect coworking space is just a click away!</h6>

  </div>
</div>
    <div class="image-overlay"></div>
  </div>
   <div class="seat-wrapper">
      <!-- ここにコードを書いていきましょう -->
      <div class="container">
        <div class="heading">
          <h2>Here are the available slots and pricing details!</h2>
        </div>
        <div class="seats">
          <h2 class="heading-name">座席のタイプ</h2>
          <div class="seat-list">
            <div class="seat">
             <div class="seat-name1">個室ブースタイプ(A)</div>
              <%= image_tag("private_booth_type.webp", alt: "default_image.jpeg", class: "seat-image") %>
              <p class="txt-contents1">700円/1hr<br>8室ご用意<br>1室:1名まで</p>
            </div>
            <div class="seat">
              <div class="seat-name2">集合テーブルタイプ(B)</div>
              <%= image_tag("conference_room_style.jpeg", alt: "default_image.jpeg", class: "seat-image") %>
              <p class="txt-contents2">550円/1hr<br>1名1席<br>最大10名まで</p>
            </div>
            <div class="seat">
              <div class="seat-name3">会議室タイプ(C)</div>
              <%= image_tag("shared_table_type.jpeg", alt: "default_image.jpeg", class: "seat-image") %>
               <p class="txt-contents3">1100円/1hr<br>3部屋ご用意<br>1室利用時:2名以上~最大12名まで</p>
            </div>
          </div>
        </div>   
      </div>
    </div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  予約する
</button>

<%= week_calendar events: @reservations || [] do |date, reservations| %>
    <%= date.day %>
<% end %>
  <div class="footer">
    <div class="footer-content">
      <p>&copy; 2024 COKURU COWORKING SPACES. All rights reserved.</p>
    </div>
  </div>

  
  <div class="modal" id="exampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
    <div class="row">
      <div class="col-12 text-center title">
        <h1>新規予約画面</h1>
      </div>

      <div class="col-12 mt-3 content">
        <% if flash[:notice] %>
          <div class="flash-alert">
            <p><%= flash[:notice] %></p>
          </div>
        <% end %>

        <%= form_with model: @reservation, local: true do |form| %>
          <div class="seat form-group">
            <%= form.label :seat_type, '席のタイプ' %>
            <%= form.text_field :seat_type, class: 'form-control', value: @seat_type %>
            <%= form.select :seat_type_id, [['タイプA',1],['タイプB',2],['タイプC',3]], {class:"select-box", id:"seat_type"}%>
          </div>

          <div class="day form-group">
            <%= form.label :day, '日付' %>
            <%= form.date_field :day, class: 'form-control', value: @day %>
          </div>

          <div class="time form-group">
            <%= form.label :time, '時間' %>
            <% if @time.present? %>
              <% begin %>
                <% parsed_time = Time.parse(@time) %>
                <%= form.time_field :time, class: 'form-control', value: parsed_time.strftime("%H:%M") %>
              <% rescue ArgumentError %>
                <%= form.time_field :time, class: 'form-control', value: @time %>
              <% end %>
            <% else %>
              <%= form.time_field :time, class: 'form-control' %>
            <% end %>
          </div>

          <div class="submit">
            <%= form.submit '予約する', class: 'btn btn-primary mx-auto d-block' %>
          </div>
        <% end %>
      </div>

      <div class="col-12 text-right">
      </div>
    </div>
  </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
