<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>COKURU COWORKING SPACES</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <div class="header">
    <div class="header-content">
      <nav class="nav-links">
        <% if user_signed_in? %>
          <span class="welcome-message">Welcome! <%= current_user.name %></span>
          <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete }, class: 'nav-link' %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
          <%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %>
        <% end %>
      </nav>
    </div>
  </div>

  <div class="full-screen-image">
    <%= image_tag 'cokuru-top.jpeg', alt: 'COKURU COWORKING SPACES' %>
    <div class="image-overlay"></div>
  </div>
  
<div class="coworking-spaces"> <!-- クラスを追加 -->
  <% @coworking_spaces.each do |coworking_space| %>
  <div class="coworking-space">
    <%= image_tag 'conference room style.jpeg', alt: 'conference room style' %>
    <h2><%= coworking_space.name %></h2>
    <p><%= coworking_space.location %></p>
    <p><%= number_to_currency(coworking_space.price) %></p>
    <!-- 他のコワーキングスペースの詳細情報を表示する場合の例 -->
    <p><%= coworking_space.description %></p>
    
    <!-- 画像の表示など、必要に応じて他の詳細情報を表示 -->
    <%= link_to "View Details", coworking_space %>
      <%= link_to "予約する", new_coworking_space_reservation_path(coworking_space), class: 'btn btn-secondary' %>
  </div>
<% end %> 
  </div>


  <div class="container">
    <div class="content">
      <h1 class="title">COKURU COWORKING SPACES</h1>
      <p class="subtitle">Your perfect coworking space is just a click away!</p>
      <%= link_to 'Explore Spaces', coworking_spaces_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="footer">
    <div class="footer-content">
      <p>&copy; 2024 COKURU COWORKING SPACES. All rights reserved.</p>
    </div>
  </div>
</body>
</html>