<!DOCTYPE html>
<html>
 
  <head>
    <meta charset="utf-8">
    <title>COKURU</title>
  </head>

  <body class="reservations-new">

  <div class="container">
  <div class="row">
      <div class="col-12 text-center title">
      <h1>新規予約画面</h1>
      </div>

    <div class="col-12 mt-3 content">
       <% if flash[:notice] %>
        <div class="flash-alert">
          <p><%= flash[:notice] %></p>
        </div>
       <% end %>
       <%= form_with url: coworking_space_reservations_path, local: true, class: 'form' do |form| %>
       <%# <%= render 'devise/shared/error_messages', resource: form.object %> 
       <%= form.object %>

      <div class="seat form-group">
        <%= form.label :seat_type, '席のタイプ' %>
        <%= form.text_field :seat_type, class: 'form-control', value: @seat_type %>
          <%= form.select :seat_type_id, [['タイプA',1],['タイプB',2],['タイプC',3]], {class:"select-box", id:"seat_type"}%>
      </div>

      <div class="day form-group">
        <%= form.label :day, '日付' %>
        <%= form.date_field :day, class: 'form-control', value: @day %>
      </div>
<div class="time form-group">
  <%= form.label :time, '時間' %>
  <% if @time.present? %>
    <% begin %>
      <% parsed_time = Time.parse(@time) %>
      <%= form.time_field :time, class: 'form-control', value: parsed_time.strftime("%H:%M") %>
    <% rescue ArgumentError %>
      <%= form.time_field :time, class: 'form-control', value: @time %>
    <% end %>
  <% else %>
    <%= form.time_field :time, class: 'form-control' %>
  <% end %>
</div>

       <div class="submit">
        <%= form.submit value: '予約する', class: 'btn btn-primary mx-auto d-block' %>
       </div>
       <% end %>
    <div class="col-12 text-right">
    </div>
  </div>
  </div>
  </div>
</body>
</html>
